<mat-sidenav-container class="app-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    [class.mat-elevation-z4]="true"
    class="app-sidenav"
  >
    <mat-nav-list class="side-navnar">
      <ng-container *ngFor="let menuItem of menu; index as i">
        <app-sidebar-item [node]="menuItem"></app-sidebar-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content select="[content]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
