<mat-toolbar color="primary">
  <span>NGRX.ir</span>
  <span class="toolbar-item-spacer">
  </span>

  <!-- <button mat-icon-button matTooltip="Notifications">
      <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
      <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
      <button mat-menu-item routerLink="#">
          <mat-icon>person</mat-icon><span>My Account</span>
      </button>
      <button mat-menu-item routerLink="#">
          <mat-icon>settings</mat-icon><span>Settings</span>
      </button>
      <button mat-menu-item routerLink="#">
          <mat-icon>help</mat-icon><span>Help</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="#">
          <mat-icon>exit_to_app</mat-icon>Logout
      </button>
  </mat-menu> -->
</mat-toolbar>
