<ng-container *ngIf="!node.children">
  <mat-list-item
    [routerLink]="node.url"
     routerLinkActive="is-active"
  >
    {{ node.title }}
  </mat-list-item>
</ng-container>

<ng-container *ngIf="node.children">
  <mat-expansion-panel
  [class.mat-elevation-z0]="true"
  >
    <mat-expansion-panel-header>
      {{ node.title }}
    </mat-expansion-panel-header>
    <mat-nav-list>
      <app-sidebar-item
        *ngFor="let node of node.children"
        [node]="node"
      ></app-sidebar-item>
    </mat-nav-list>
  </mat-expansion-panel>
</ng-container>
