
<div class="landing">
  <div class="header">
    <div (click)="navigate('docs/contributing')" class="header-item">
      <span> داکیومنت </span>
    </div>
    <div (click)="navigate('docs/contributing')" class="header-item">
      <span> مشارکت </span>
    </div>
  </div>
  <div class="content">
    <div class="logo">
      <img
        src="https://ngrx.io/assets/images/badge.svg"
        alt="ngrx-logo"
        title="ngrx-logo"
        width="400"
        height="400"
      />
    </div>
    <div class="text-logo">NGRX</div>
    <div class="text">
      راهنمای کامل کتابخانه
      NGRX
       مطابق باآخرین تغییرات
       <a href='https://ngrx.io/'>NGRX.io</a>
      </div>
      <div class="action">
        <button>
          <a routerLink="docs/contributing" >داکیومنت</a>
        </button>
    </div>
  </div>
</div>
